.app {
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 150px;
    background-color: black; 
}

.sidebar-mobile {
    width: 100%;
    display: none;
}

.menu-mobile-icon {
    padding: 10px;
}

.close-menu-mobile-btn {
    padding: 20px;
    display: none;
    position: fixed;
    color: var(--white-color);
    z-index: 1;
    right: 0;
    top: 0;
}

.menu-item {
    display: block;
    border-bottom: 1px solid #5C5C5C;
}

.menu-item-link {
    color: #AAAAAA;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 14px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 19px;
}

.menu-item-link:hover .menu-item {
    background-color: #5C5C5C;
}

.menu-item-link:hover {
    background-color: #5C5C5C;
    color: var(--white-color);
}

.active-link {
    color: var(--white-color);
}

.content-contain {
    width: 100%;
}

.content {
    padding: 0 129px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 310px;
    object-fit: contain;
    padding: 20px 0 30px 0;
}

.section1 {
    background-color: #EFEFEF;
    padding: 38px 0;
}

.section1-title {
    color: var(--black-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
}

.section1-desc {
    text-align: center;
    font-size: 1.6rem;
    line-height: 19px;
    width: 972px;
    margin: auto;
    margin-top: 18px;
    font-weight: 400;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 183px;
}

.section2-content-box {
    padding: 0 25px;
}

.section2-content-box:first-child {
    padding: 0;
}

.section2-content-box:last-child {
    padding: 0;
}

.section2-title {
    font-size: 2.4rem;
    line-height: 28px;
    font-weight: 700;
}

.css-icon-img {
    float: left;
    width: 128px;
    height: 128px;
    margin-right: 16px;
}

.section2-desc {
    font-size: 1.6rem;
    line-height: 19px;
    font-weight: 400;
}

.footer {
    padding: 30px 0 30px 129px;
    font-size: 1.6rem;
    line-height: 19px;
    font-weight: 400;
    color: #3E3E3E;
    border-top: 1px solid #DEDEDE;
}

.show-block {
    display: block !important;
}
